# Python virtual environments
.venv/
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary runtime files
*.mp3
*.wav
*.tmp
*.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
